<ion-view view-title="Concerto">
    <ion-content>
        <div>
            <h4>Dettagli concerto: </h4>
        </div>
        <div>
            <p><label>Gruppo: </label> <b>{{concert.id}} - {{concert.artist}}</b></p>
            <p><label>Luogo </label> <b>{{concert.location}}</b></p>
            <p><label>Data </label> <b>{{concert.date}}</b></p>
            <p><label>Disponibilit&agrave; </label> <b>{{concert.availability}}</b></p>
            <p><label>Organizzatore </label> <b>{{concert.organizer}}</b></p>
        </div>
    </ion-content>
</ion-view>
