<ion-view view-title="TopOnConcert.com">
    <ion-content>
        <h3>Lista Concerti</h3>
        <ion-list>
            <ion-item ng-repeat="concert in concerts" href="#/app/concerts/{{concert.id}}">
                <ion-avatar item-start>
                    <img src="#">
                </ion-avatar>
                <p>{{concert.id}} - {{concert.artist}}</p>
                <p>{{concert.location}}</p>
                <p>{{concert.day_concert}}</p>
            </ion-item>
        </ion-list>



    </ion-content>
</ion-view>
