<ion-view view-title="TopOnConcert.com">

    <ion-content>
        <h3>Lista Concerti</h3>
        <ion-list>
            <ion-item ng-repeat="concert in concerts" href="#/app/concerts/{{concert.id}}">
                <ion-avatar item-start>
                    <img src="#">
                </ion-avatar>
                <p><label>Gruppo: </label> <b>{{concert.id}} - {{concert.artist}}</b></p>
                <p><label>Luogo </label> <b>{{concert.location}}</b></p>
                <p><label>Data </label> <b>{{concert.date}}</b></p>
            </ion-item>
        </ion-list>



    </ion-content>
</ion-view>
